<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bookmarkMapper">
	<insert id="insertbookmark" parameterType="BookmarkVo">
		insert into bookmark values(bookmark_seq.nextval,#{members_idx},#{bookmark_category},#{bookmark_question},#{bookmark_answer},sysdate)
	</insert>
	
	<select id="totalcount" parameterType="String" resultType="int">
	select count(*) from bookmark where members_idx=#{mebers_idx}
	</select>
		<select id="bookmarklist" resultType="BookmarkVO" parameterType="Map">
	SELECT * 
			FROM (SELECT ROWNUM r_num, a.* 
				FROM (select * from(SELECT * FROM BOOKMARK where members_idx = #{members_idx})
					  ORDER BY bookmark_idx DESC
				) a
			) 
		WHERE r_num BETWEEN #{begin} AND #{end}
	</select>
	
	<delete id="chkbookmarkdelete" parameterType="String">
	delete from bookmark where bookmark_idx = #{bookmark_idx}
	</delete>
	<select id="onelist_bookmark" parameterType="String" resultType="BookmarkVO">
	select * from bookmark where bookmark_idx=#{bookmark_idx}
	</select>
	<delete id="onedelete_bookmark" parameterType="String">
	delete from bookmark where bookmark_idx = #{bookmark_idx}
	</delete>
	<delete id="deleteAll" parameterType="String">
	delete from bookmark where members_idx=#{members_idx}
	</delete>
	
</mapper>












