<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="libraryMapper">

	<!-- <resultMap type="Member" id="resultMember">
		<id property="idx" column="members_idx"/>
		<result  property="id" column="members_id"/>
		<result  property="pw" column="members_pw"/>
		<result  property="name" column="members_name"/>
		<result  property="email" column="members_email"/>
		<result  property="birth" column="members_birth"/>
		<result  property="tel" column="members_tel"/>
	</resultMap> -->
	<select id="librarycount" resultType="int">
		select count(*) from library
	</select>
	<select id="librarylist" parameterType="Map" resultType="LibraryVo">
		select * from (
			select rownum r_num, a.* from (
				select * from library order by library_idx desc
			) a
		) where r_num between #{begin} and #{end}
	</select>
	<select id="list" parameterType="Map" resultType="LibraryVo">
		select * from (
			select rownum r_num, a.* from (
				select * from library order by library_idx desc
			) a
		) where r_num between #{begin} and #{end}
	</select>
	<!-- 검색조건이 있는목록 -->
	<select id="searchCountTitle" parameterType="com.ict.lawving.library.model.vo.LibrarySearch" resultType="int">
		select count(*) from library
		where library_title like '%' || #{ keyword } || '%'
	</select>
	
	<select id="searchCountContent" parameterType="com.ict.lawving.library.model.vo.LibrarySearch" resultType="int">
		select count(*) from library
		where library_content like '%' || #{ keyword } || '%'
	</select>
	<select id="searchTitleDesc" parameterType="Map" resultType="LibraryVo">
		select * 
		from (select rownum r_num,a.* 
			  from(select * 
			  		from library 
			  		where library_title like '%' || #{ keyword } || '%'
					order by library_idx desc
			 		) a
				) 
		where r_num between to_number(#{begin}) and to_number(#{end})
	</select>
		<select id="searchTitleAsc" parameterType="Map"	resultType="LibraryVo">
		select * 
		from (select rownum r_num,a.* 
			  from(select * 
			  		from library 
			  		where library_title like '%' || #{ keyword } || '%'
					order by library_idx asc
			 		) a
				) 
		where r_num between to_number(#{begin}) and to_number(#{end})
	</select>
	<select id="searchContentDesc" parameterType="Map" resultType="LibraryVo">
		select * 
		from (select rownum r_num,a.* 
			  from(select * 
			  		from library 
			  		where library_content like '%' || #{ keyword } || '%'
					order by library_idx desc
			 		) a
				) 
		where r_num between to_number(#{begin}) and to_number(#{end})
	</select>
	
	<select id="searchContentAsc" parameterType="Map" resultType="LibraryVo">
		select * 
		from (select rownum r_num,a.* 
			  from(select * 
			  		from library 
			  		where library_content like '%' || #{ keyword } || '%'
					order by library_idx asc
			 		) a
				) 
		where r_num between to_number(#{begin}) and to_number(#{end})
	</select>
	<select id="selectLibrary" parameterType="int" resultType="LibraryVo">
		select * from library where library_idx = #{ library_idx }
	</select>
	
	<insert id="insertlibrary" parameterType="LibraryVo">
		insert into Library values(library_seq.nextval,#{library_idx},#{members_idx},#{library_category},#{library_title},#{library_writer},#{library_content},#{library_file_name},#{library_refile_name},sysdate)
	</insert>
</mapper>












