<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">

	<!-- <resultMap type="Member" id="resultMember">
		<id property="idx" column="members_idx"/>
		<result  property="id" column="members_id"/>
		<result  property="pw" column="members_pw"/>
		<result  property="name" column="members_name"/>
		<result  property="email" column="members_email"/>
		<result  property="birth" column="members_birth"/>
		<result  property="tel" column="members_tel"/>
	</resultMap> -->
	<select id="count" resultType="int">
		select count(*) from members
	</select>
	<select id="memberslist" parameterType="Map" resultType="MembersVo">
		select * from (
			select rownum r_num, a.* from (
				select * from members order by members_idx desc
			) a
		) where r_num between #{begin} and #{end}
	</select>
	<select id="selectCheckId" parameterType="string" resultType="_int">
		select count(members_id) from members where members_id=#{id}
	</select>
	<insert id="insertmembers" parameterType="MembersVo">
		insert into members values(members_seq.nextval,#{members_id},#{members_pw},#{members_name},#{members_email},
		#{members_birth},#{members_tel},1,sysdate)
	</insert>
	
	<select id="selectlogin" parameterType="String" resultType="MembersVo">
		select * from members where members_id=#{members_id}
	</select>
	<update id="updateMember" parameterType="MembersVo">
		update members SET members_email=#{members_email},members_birth=#{members_birth},members_tel=#{members_tel}where members_id=#{members_id} 
	</update> 
	
	<delete id="delete_member" parameterType="String">
	delete from members where members_idx=#{members_idx}

	</delete>
</mapper>












