<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="noticeMapper">

	<resultMap id="noticeResultSet" type="NoticeVo">
		<id property="notice_idx" column="notice_idx" />
		<result property="members_idx" column="members_idx" />
		<result property="notice_title" column="notice_title" />
		<result property="notice_writer" column="notice_writer" />
		<result property="notice_content" column="notice_content" />
		<result property="notice_file_name" column="notice_file_name" />
		<result property="notice_refile_name"
			column="notice_refile_name" />
		<result property="notice_reg" column="notice_reg" />
	</resultMap>
	<!--전체목록개수 -->
	<select id="count" resultType="int">
		select count(*) from notice
	</select>

	<!-- 검색조건이 있는목록 -->
	<select id="searchCountTitle" parameterType="com.ict.lawving.notice.model.vo.NoticeSearch" resultType="int">
		select count(*) from notice
		where notice_title like '%' || #{ keyword } || '%'
	</select>
	<!-- 검색조건이 있는 내용 -->
	<select id="searchCountContent" parameterType="com.ict.lawving.notice.model.vo.NoticeSearch" resultType="int">
		select count(*) from notice
		where notice_content like '%' || #{ keyword } || '%'
	</select>

	<!-- 목록 보기 -->
	<select id="noticelist" parameterType="map" resultMap="noticeResultSet">
		select * 
		from (select rownum r_num, a.* 
			from ( select * 
					from notice
					order by notice_idx desc 
				 ) a 
			) 
		where r_num between #{begin} and #{end}
	</select>

	<!-- 검색기능 -->
	<select id="searchTitleDesc" parameterType="map" resultMap="noticeResultSet">
		select * 
		from (select rownum r_num,a.* 
			  from(select * 
			  		from notice 
			  		where notice_title like '%' || #{ keyword } || '%'
					order by notice_idx desc
			 		) a
				) 
		where r_num between to_number(#{begin}) and to_number(#{end})
	</select>

	<select id="searchTitleAsc" parameterType="map" resultMap="noticeResultSet">
		select * 
		from (select rownum r_num,a.* 
			  from(select * 
			  		from notice 
			  		where notice_title like '%' || #{ keyword } || '%'
					order by notice_idx asc
			 		) a
				) 
		where r_num between to_number(#{begin}) and to_number(#{end})
	</select>
	
	<select id="searchContentDesc" parameterType="map"  resultMap="noticeResultSet">
		select * 
		from (select rownum r_num,a.* 
			  from(select * 
			  		from notice 
			  		where notice_content like '%' || #{ keyword } || '%'
					order by notice_idx desc
			 		) a
				) 
		where r_num between to_number(#{begin}) and to_number(#{end})
	</select>
	
	<select id="searchContentAsc" parameterType="map"  resultMap="noticeResultSet">
		select * 
		from (select rownum r_num,a.* 
			  from(select * 
			  		from notice 
			  		where notice_content like '%' || #{ keyword } || '%'
					order by notice_idx asc
			 		) a
				) 
		where r_num between to_number(#{begin}) and to_number(#{end})
	</select>
	<!-- 상세보기 -->
	<select id="selectNotice" parameterType="int" resultMap="noticeResultSet">
		select * from notice where notice_idx = #{ notice_idx }
	</select>
 	
 	<!-- 글쓰기 -->
 	<insert id="insertNotice" parameterType="NoticeVo">
		insert into notice
		values (notice_seq.nextval,2, #{ notice_title },#{notice_writer}, #{notice_content}, 
		#{ notice_file_name },#{ notice_refile_name },sysdate)
	</insert>
	<!-- 글수정 -->
	<update id="updateNotice" parameterType="NoticeVo">
		update notice set notice_title=#{notice_title},notice_content=#{notice_content}<if test="notice_file_name == null">, notice_file_name = null,notice_refile_name = null</if>
      <if test="notice_file_name != null">, notice_file_name = #{ notice_file_name }, notice_refile_name = #{ notice_refile_name }
         </if>
      where notice_idx = #{notice_idx}
	</update>
	
	<!-- 체크박스 삭제 -->
	<delete id="chk_delete" parameterType="String">
	delete from notice where notice_idx=#{chkdel}
	</delete>

	<delete id="deleteNotice" parameterType="int">
	delete from notice where notice_idx=#{notice_idx}
	</delete>
	
	<select id="n_before" resultType="NoticeVo" parameterType="String">
		SELECT * 
    		FROM (SELECT ROWNUM r_num, a.* 
        		FROM (SELECT * FROM NOTICE 
              		  WHERE notice_idx &lt; #{notice_idx}
              		  ORDER BY notice_idx DESC 
        		) a 
    		) 
		WHERE r_num = 1
	</select>
	<select id="n_after" resultType="NoticeVo" parameterType="String">
		SELECT * 
    		FROM (SELECT ROWNUM r_num, a.* 
        		FROM (SELECT * FROM NOTICE 
              		  WHERE notice_idx &gt; #{notice_idx}
              		  ORDER BY notice_idx ASC
        		) a 
    		) 
		WHERE r_num = 1
	</select>
	

</mapper>
