<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
	<typeAlias type="com.ict.lawving.qna.model.vo.QnaVo" alias="qna"/>
	<typeAlias type="com.ict.lawving.members.model.vo.MembersVo" alias="MembersVo"/>
	<typeAlias type="com.ict.lawving.limit.model.vo.LimitVo" alias="LimitVo"/>
	<typeAlias type="com.ict.lawving.repot.model.vo.RepotVo" alias="RepotVo"/>
	<typeAlias type="com.ict.lawving.library.model.vo.LibraryVo" alias="LibraryVo"/>
	<typeAlias type="com.ict.lawving.notice.model.vo.NoticeVo" alias="NoticeVo"/>
</typeAliases>

<mappers>
	<mapper resource="mappers/member-mapper.xml"></mapper>
	<mapper resource="mappers/bookmark-mapper.xml"></mapper>
	<mapper resource="mappers/qna-mapper.xml"></mapper>
	<mapper resource="mappers/limit-mapper.xml"></mapper>
	<mapper resource="mappers/repot-mapper.xml"></mapper>
	<mapper resource="mappers/library-mapper.xml"></mapper>
	<mapper resource="mappers/notice-mapper.xml"></mapper>

</mappers>
</configuration>